<!DOCTYPE html>
<html lang="en">
<head>
  <title>foodAutomata</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="fontawesome-free-5.15.2-web/css/all.css">
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function(){
            $('#icon').click(function(){
                $('ul').toggleClass('show')
            });
        });
    </script>

</head>
<body>
    <nav>
        <label class="logo"><i>food</i> AUTOMATA</label>
    <ul>
        <li><a class="action" href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/feedback">Feedback</a></li>
    </ul>
    <label id="icon">
        <i class="fas fa-bars"></i>
    </label>
    </nav>

    <section class="breadcrumbs-section">
        <div class="container p-1 p-sm-3">
          <div class="row">
            <div class="col-12">
              <h2>About Us</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">About Us</li>
              </ol>
            </div>
          </div>
        </div>
    
      </section>
    
      <section class="about-company-section">
        <div class="container p-1 p-sm-3">
          <div class="row">
            <div class="col-12 text-center">
              <h2>About food Swipe</h2>
              <hr />
            </div>
    
            <div class="col-md-3">
              <img class="img-fluid" src="/static/logo.png" alt="">
    
            </div>
    
            <div class="col-md-9">
                <p>Maintains detailed information regarding popular dishes and favourite 
                recipes which customers wish to have at restaurants.</p>
                <p>Options for customers to customize the meals they order based on 
                which the ingredient inventory can be managed</p>
                <p>Cheapest and Fastest Delivery Possible</p>
                <p>Demand Forecast Mechanism to alert the vendors to maintain required inventory</p>
                <p>Tie with all major food outlets to deliver the customer their favourite dish</p>
              </ul>
    
            </div>
          </div>
        </div>
      </section>
    
      <!-- START : Home page 5rd section - Newsletter section -->
      <section class="home-newsletter p-2 pt-md-2 pb-md-2">
        <div class="row">
          <div class="col-12 text-center">
            <h3>
              Subscribe to our Newsletter
            </h3>
            <div class="input-group p-3">
              <input type="email" class="form-control" placeholder="Enter your email">
              <span class="input-group-btn">
                <button class="btn btn-theme" type="submit">Subscribe</button>
              </span>
            </div>
          </div>
        </div>
      </section>
      <!-- END : Home page 5th section - Newsletter section -->
    
    
      <!-- START :  Home page 6th section - Our services -->
      <section class="pt-3 pb-4">
          <div class="container">
              <div class="row mt-4">
                <div class="col text-center">
                  <h3>
                    Our awesome team
                  </h3>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4 text-center">
                  <img class="img-fluid qualities-img p-4" width="300px" height="300px" src="/static/images/CEO.png">
                  <h5>
                    CEO
                  </h5>
                  <p>
                    <i>- ABC</i>
                  </p>
    
                </div>
                <div class="col-md-4 text-center">
                  <img class="img-fluid qualities-img p-4" width="300px" height="300px" src="/static/images/senior-manager.png">
                  <h5>
                    Senior Business Manager
                  </h5>
                  <p>
                    <i>- EFG</i>
                  </p>
    
                </div>
                <div class="col-md-4 text-center">
    
                    <img class="img-fluid qualities-img p-4" width="300px" height="300px" src="/static/images/hr.png">
                    <h5>
                      Senior HR
                    </h5>
                    <p>
                      <i>- XYZ</i>
                    </p>
                </div>
              </div>
    
              <div class="row mb-md-3">
                <div class="col-md-4 text-center">
                    <img class="img-fluid qualities-img p-4" width="300px" height="300px" src="/static/images/developer.png">
                    <h5>
                      Web Developer
                    </h5>
                    <p>
                      <i>- PQR</i>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid qualities-img p-4" width="300px" height="300px" src="/static/images/sales-head.png">
                    <h5>
                      Sales Head
                    </h5>
                    <p>
                      <i>- MNO</i>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid qualities-img p-4" width="300px" height="300px" src="/static/images/marketing-head.png">
                    <h5>
                      Marketing Head
                    </h5>
                    <p>
                      <i>- KLM</i>
                    </p>
                </div>
              </div>
      </section>
      <!-- END : Home page 6th section - Our services -->
    
    <!-- START :  Home page 7th section - clients -->
    <section class="pt-3 pb-4 clients-section">
        <div class="container">
            <div class="row">
              <div class="col text-center">
                <h3>
                    Some of our trusted clients.
                </h3>
              </div>
    
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 col-6">
                  <img class="img-fluid feature-img p-2" src="/static/images/apple.png" alt="Apple">
                </div>
                <div class="col-md-2 col-6">
                  <img class="img-fluid feature-img p-2" src="/static/images/google.png" alt="Google">
                </div>
                <div class="col-md-2 col-6">
                  <img class="img-fluid feature-img p-2" src="/static/images/infosys.png" alt="Infosys">
                </div>
                <div class="col-md-2 col-6">
                  <img class="img-fluid feature-img p-2" src="/static/images/lnt.png" alt="Larsen&Tubro">
                </div>
                <div class="col-md-2 col-6">
                  <img class="img-fluid feature-img p-2" src="/static/images/netflix.png" alt="Netflix">
                </div>
                <div class="col-md-2 col-6">
                  <img class="img-fluid feature-img p-2" src="/static/images/yahoo.png" alt="Yahoo">
                </div>
              </div>
    
    
    
      </section>
    
       <!--Footer Section Begin -->
       <footer class="full-footer">
        <div class="container top-footer p-md-3 p-1">
          <div class="row">
            <div class="col-md-3 pl-4 pr-4">
              <img class="img-fluid" height="100px" width="100px" src="/static/logo.png" alt="">
              <p>
                food Swipe is a Food Delivery Company for the faster and safer delivery of food items...<a href="#">Read
                  more...</a>
              </p>
              <a style="color:silver;" class="p-1" href="#"><i class="fab fa-2x fa-facebook-square"></i></a>
              <a style="color: silver;" class="p-1" href="#"><i class="fab fa-2x fa-google-plus-square"></i></a>
              <a style="color: silver;" class="p-1" href="#"><i class="fab fa-2x fa-twitter-square"></i></a>
              <a style="color: silver;" class="p-1" href="#"><i class="fab fa-2x fa-instagram"></i></a>
            </div>
    
            <div class="col-md-3  pl-4 pr-4">
              <h3>Important Links</h3>
              <a href="#">Privacy Policy</a><br>
              <a href="#">Youtube Channel Link </a><br>
              <a href="#">Blog Articles </a><br>
              <a href="#">Social Media</a>
            </div>
    
            <div class="col-md-3  pl-4 pr-4">
              <h3>Our Services</h3>
              <a href="#">Inventory Management</a><br>
            </div>
    
          <div class="col-md-3  pl-4 pr-4">
              <h3>Contact Us</h3>
              <a href="#"><i class="fas fa-phone"></i> +(91) 9999000011  </a><br>
              <a href="#"><i class="fas fa-envelope"></i> inquiry@foodautomata.com  </a><br>
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241316.64333236168!2d72.74110193617271!3d19.082522317332813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1547151374329" frameborder="0"></iframe>
              </div>
    
          </div>
        </div>
        </div>
        <div class="container-fluid bottom-footer pt-2">
          <div class="row">
            <div class="col-12 text-center">
              <p>Copyrights © 2021 - All rights reserved</p>
            </div>
          </div>
        </div>
    
      </footer>
    
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    
    
</body>
</html>